<h1 class="text-center display-1 text-success">kia ora</h1>

<!-- register button -->
<div class="row justify-content-center mb-4">
  <div class="col-md-6">
    <a href="/api/register" class="btn btn-primary btn-lg btn-block">Register</a>
  </div>
</div>

<!-- login button -->
<div class="row justify-content-center">
  <div class="col-md-6">
    <a href="/api/login" class="btn btn-primary btn-lg btn-block">Login</a>
  </div>
</div>